node_modules/
.env
dist/
build/
backend/delivery.db
backend/uploads/
.dart_tool/
.packages
.pub-cache/
.pub/
build/
.idea/
.vscode/
*.iml
*.iws
*.ipr
*.sqlite
*.db

delivery_tracking_system.zip
*.zip
!backend/public/downloads/*.zip
*.apk
!backend/public/downloads/*.apk
